# ============================================================
# .env.example — SmartGym Hexagonal
# Copia este archivo como .env y ajusta los valores.
# NUNCA subas tu .env real a Git — ya está en .gitignore
# ============================================================

# SQL Server
DB_HOST=localhost          # o la IP de tu servidor SQL Server
DB_PORT=1433
DB_NAME=smartgym_db
DB_USER=sa
DB_PASSWORD=tu_password_aqui

# Flask
SECRET_KEY=cambia_esta_clave_por_una_larga_y_aleatoria
FLASK_APP=main.py
FLASK_ENV=development      # cambiar a 'production' en despliegue real
